/* File: assets/styles/styles.css */
:root {
    /* Box Shadow */
    --bs: 2px 2px 2px rgba(0,0,0,70%);
    /* Text Shadow */
    --ts: 2px 2px 2px rgba(0,0,0,70%);
    /* border radius */
    --br: 10px;

  --scrollbar-foreground: rgba(153,153,153,70%);
  --scrollbar-background: rgba(51,51,51,70%);

}

/*
html,body {
  height: 100vh;
}
*/

/* Scrollbar styles - for the window. For the results section, see .styled-scrollbars */
/* See https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/ */
::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

/* The window scrollbars don't support alpha channel, so I used rgb instead or rgba. --JC */
::-webkit-scrollbar-thumb { /* Foreground */
  background: rgb(153,153,153); /*var(--scrollbar-foreground);*/
  border-radius: 5px;
}
::-webkit-scrollbar-track { /* Background */
  background: rgb(51,51,51); /* var(--scrollbar-background); */
}

body {
    /* TODO: What font? */
    background-color: rgb(81,62,49); /* hsl(240,30%,50%);  /* TODO: Pick a different color. Earthtone, preferably. */
    /* background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(64,0,255,1) 100%); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color:rgba(64,0,255,1); */
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    /* flex-flow: nowrap; */
    /* justify-content: center; */
    align-content: center;
    height: 100vh;    /* THIS! RIGHT HERE! THIS ! */
    margin: 0 auto;
}

/* Changed the color scheme. "I liek goooooald." --Goldmember, Austin Powers 3 */
a[href]:link {
  color: #eebb00;
}
a[href]:visited {
  color: #eebb00;

}
a[href]:active {
  color: #eebb00;
}
a[href]:hover {
  color: #ffcc00;
}


header, main, footer {
  background-color: rgba(51,51,51,70%); /* Using an RGBA color to give it a transparent color */
  box-shadow: var(--bs);
  margin-left: auto;
  margin-right: auto;
  width: 90vw !important; /* Made it important. Stop breaking stuff, Bulma! */
}

header {
  /* background: hsl(240,30%,50%); */ /* No point of this if body and footer have no color */
  display: block;
  text-align: center;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
}


main {
  display: block;
}


footer {
  /* TODO: The footer should probably be fixed to the bottom. */
  display: block;
  border-radius: 3px;
  margin-top: 5px !important;
  padding: 3px;
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

/* Using a horizontal list */
/* Some people set display:flex when making a horizontal list. Because we are using Bulma (where almost everything is a flexbox), we won't do that here. */
footer > ul {
  text-align: center;
  list-style: none;
}

/* horizontal list items are inline-block so that they lie next to each other */
footer > ul > li {
  display: inline-block;
  color: #efefef;
}

/* Items are separated with bullet points */
footer > ul > li::before {
  content: '•';
  display: inline-block;
  margin-left: 1ch;
  margin-right: 1ch;
  width: 1ch;
}

/* The first item in the list doesn't get one. */
footer > ul > li:first-child::before {
  content: '';
}


/* Keeping these in case we need them */
footer > ul > li > a[href]:link {
  color: #eebb00;
}
footer > ul > li > a[href]:visited {
  color: #eebb00;
}
footer > ul > li > a[href]:active {
  color: #eebb00;
}
footer > ul > li > a[href]:hover {
  color: #ffcc00;
}


.card {
    /* background: #fff; */
    /* color: #000; */
    background-color: transparent;
    color: #efefef;    
    /* box-shadow: var(--bs); */ /* The cards are both in the main section, so no shadow here */
}


h1 {
    color: #fff;
    font-size: 3em;
    text-shadow: var(--ts);
}

h2 {
    font-size: 2em;
    text-shadow: var(--ts);
}
h3 {
  font-size: 1.5em;
  text-shadow: var(--ts);
}

/* form {} */

fieldset{
    border: 1px groove rgba(51,51,51,70%);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    padding-bottom: 6px;
    box-shadow: var(--bs) inset; /* Give our fieldsets a sense of depth with an inset shadow. */
  }

fieldset > legend {
    margin-left: 1em;   /* The fieldset legend is actually controlled by the margin-left attribute */
    padding: 3px;
    font-weight: bold;
    text-shadow: var(--ts);
}

/* Use this to put each set of fields that are in a row in a container. We need to nudge them away from the edges of the fieldset box. */
.field {
  margin-left: 6px;
  margin-right: 6px;
}

input[type="text"],
input[type="search"] {
  background-color: rgba(64,64,64,70%);   /* TODO: is this too dark? */
  color: #ffffff;
  font-size: 14pt;
  border-radius: 5px; 
  margin: 3px;
}

input[type="text"]::placeholder,
input[type="search"]::placeholder {
  color: rgba(204,204,204,70%);   /* TODO: is this too dark? */
}

/* Change our highlight color
 * https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
 */
input[type="text"]::selection,
input[type="search"]::selection {
  background-color: #ffcc00;
  color: #000;
}


/* TODO: highlight color */

input[type="text"]:focus,
input[type="search"]:focus { 
  border: 1px inset #ffcc00;
  outline: 1px inset #ffcc00; /* Get rid of that ugly white outline */
  box-shadow: 0px 0px 3px 6px rgba(255,204,0,70%); /* #ffcc00; */
}

/* TODO: selected option color */

select {
  background-color: rgba(64,64,64,70%);   /* TODO: is this too dark? */
  color: #ffffff;
  font-size: 14pt;
  border-radius: 5px; 
  margin: 3px;
}

select:focus {
  border: 1px inset #ffcc00;
  outline: 1px inset #ffcc00; /* Get rid of that ugly white outline */
  box-shadow: 0px 0px 3px 6px rgba(255,204,0,70%); /* #ffcc00; */
}

/* This thing below, won't work. You need to use some techinque to convert `select > option` to `ul > li`. Maybe in the next project. */
/*
select > option {
  background-color: #ffcc00;
  color: #000;
}
*/

button {
  cursor: pointer; /* The hand looks better */
  font-size: 14pt;
  border-radius: 5px; 
  background-color: rgba(64,64,64,70%);
  color: #ffffff;
}

button:disabled {
  box-shadow: none;
  background-color: rgba(51,51,51,30%);
  color: rgba(204,204,204,70%);   /* TODO: is this too dark? */
}
button:disabled:hover {   /* no box shadow if disabled */
  box-shadow: none;
  cursor: not-allowed;
  color: rgba(204,204,204,70%);   /* TODO: is this too dark? */
}

button:focus,
button:hover {
  box-shadow: 0px 0px 3px 6px rgba(255,204,0,70%); /* #ffcc00; */
  color: rgba(255,204,0,1);
}

/* NOTE: to put the search results on the right side, use row-reverse for flex-direction */
.side_by_side {
  display: flex;
  flex-direction: row;
  padding: 3px; 
  gap: 3px;   /* Surprisingly, this property does work in flexbox as well as grid.*/
  max-height: 60vh; /* We need limit one of our cards' height so that everything fits otherwise we won't see the header or footer. Why not this one. The map should resize anyway. */
  min-height: 60vh;
}

/* Our results and map look better as a 40-60 split */
#results {
  width: 40vw; /* 40% of the screen is results */
  /* aspect-ratio: 1; */
  overflow-y:auto;  /* Allow our results to overflow and use scrollbars when needed */
}

/* Let's style the scrollbar for the results. */
/* TODO: Highlight the bars when hovering or grabbed */
.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
  border-radius: 5px;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
}

#map {
  width: 60vw; /* The other 60% is map */
  /*aspect-ratio: 1; */  /* Yeah, this was not a good idea. */
  
}

/* Make our horizontal rules in #result look fancy */
hr {
  border: 1px groove rgba(255,255,255,70%);
  box-shadow: var(--bs);
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/* This will NOT override .container in Bulma. */
/*
.container {
  display: block;
}
*/

/* Leave bold text alone, Bulma! */
strong {
  color: #fff !important;
}

/* A request for more padding was made. This is just one of the things I changed. There's a couple of other things above. */
form > h2 {
  margin-left: 6px;
}

/* Moved it down here because the video stopped covering the whole page for some reason when it was higher up in this document. */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

blockquote {
  margin: 2em;
  background-color: rgba(64,64,64,70%);
  box-shadow: var(--bs);
  padding: 3px;
}

blockquote > p {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* We need to define the margins for our list, otherwise they appear outside of the blockquote. IDK why Bulma does this, but it is dumb. */
blockquote > ol {
  margin-left: 2em;
  margin-right: 2em;
}

blockquote > ol > li {
  display: list-item;
}

/* Bulma was messing with this too! Unbeleiveable! */
.leaflet-popup-content > .result > p > strong {
  color: #000 !important;
}