/* File: assets/styles/styles.css */
:root {
    /* Box Shadow */
    --bs: 2px 2px 2px rgba(0,0,0,70%);
    /* Text Shadow */
    --ts: 2px 2px 2px rgba(0,0,0,70%);
}

body {
    /* TODO: What font? */
    background-color: hsl(240,30%,50%);
    /* background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(64,0,255,1) 100%); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color:rgba(64,0,255,1); */
    height: 100vh;    /* THIS! RIGHT HERE! THIS ! */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

header, main, footer {
  background-color: rgba(51,51,51,70%); /* Using an RGBA color to give it a transparent color */
  box-shadow: var(--bs);
  margin-left: auto;
  margin-right: auto;
  width: 90vh;
}

header {
  /* background: hsl(240,30%,50%); */ /* No point of this if body and footer have no color */
  text-align: center;
}

/*
main {}
*/

footer {
  /* TODO: The footer should probably be fixed to the bottom. */
  border-radius: 3px;
  margin-top: 5px !important;
  padding: 3px;
  box-shadow: var(--bs);
}

/* Changed the color scheme. "I liek goooooald." --Goldmember, Austin Powers 3 */
footer > ul > li > a[href]:link {
  color: #eebb00;
}
footer > ul > li > a[href]:visited {
  color: #eebb00;

}
footer > ul > li > a[href]:active {
  color: #eebb00;
}
footer > ul > li > a[href]:hover {
  color: #ffcc00;
}


.card {
    /* background: #fff; */
    /* color: #000; */
    background: transparent;
    color: #efefef;
    box-shadow: var(--bs);
}


h1 {
    color: #fff;
    font-size: 3em;
    text-shadow: var(--ts);
}

h2 {
    font-size: 2em;
    text-shadow: var(--ts);
}

/* form {} */

fieldset{
    border: 1px groove #ccc;
    padding: 3px;
    margin: 3px;
}

fieldset > legend {
    padding: 3px;
    font-weight: bold;
    text-shadow: var(--ts);
}

/* NOTE: to put the search results on the right side, use row-reverse for flex-direction */
.side_by_side {
  display: flex;
  flex-direction: row;
  padding: 3px; 
  gap: 3px;   /* Surprisingly, this property does work in flexbox as well as grid.*/
}

/* Our results and map look better as a 40-60 split */
#results {
  width: 40vw; /* 40% of the screen is results */
  height: 60vh;
  /* aspect-ratio: 1; */
  overflow-y:scroll;  /* TODO: Change this back to auto later */
}

#map {
  width: 60vw; /* The other 60% is map */
  height: 60vh;
  /*aspect-ratio: 1; */  /* Yeah, this was not a good idea. */
  
}